*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif

}
.maincontainer{
    background-color: rgb(210, 210, 245);
    
    /* position: relative; */

}
.nav-dark{
    background-color: rgb(57, 64, 78);
    text-align: right;
    padding: 10px 80px 10px 80px;
    /* width: 100vw; */
    
}
    
li{
    list-style: none;
    display: inline;
    padding: 10px;
}
.nav-list-dark{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
}
.nav-light{
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 255, 255);

}
.list-left{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: rgb(109, 106, 106);
}
.zoomlogo{
   height: 4vh;
   position: relative;
   top: 4px; 
    
}
.list-right{
    text-decoration: none;
    text-transform: uppercase;
    font-size:12px;
    font-weight: bold;
    color: rgb(27, 111, 190);
}

.sign-up{
    padding: 8px 18px;
    margin-left: 15px;
    font-size: 13px;
    color: white;
    background-color: rgb(243, 96, 42);
    border: none;
    border-radius: 9px;
    text-transform: uppercase;
    font-weight: bold;
}
.sign-up:hover{
    background-color: rgb(206, 75, 28);
    cursor: pointer;
    transition: .7s;
}
.line-bottom{
border-bottom: 1px solid rgb(196, 194, 194);
}

.mainhead{
    width: 700px;
    height: 70vh;
    background-color: rgb(244, 248, 247);

}
h2{
    font-size: 45px;
    padding: 55px 80px 10px 70px;
    /* border: 1px solid red; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.in-email{
    padding: 15px;
    width: 300px;
    font-size: medium;
    margin: 10px 5px 0 70px;
    border-radius: 10px;
    border: none;
}
.in-emai:focus{
    border: 1px solid blue;
}
.sign-up-alt{
    color: white;
    padding: 15px;
    text-transform: capitalize;
    font-size: medium;
    background-color: rgb(238, 79, 22);
    border: none;
    border-radius: 10px;
    /* font-family: Arial, Helvetica, sans-serif; */
}
.sign-up-alt:hover{
    background-color: rgb(206, 75, 28);
    cursor: pointer;
    transition: .7s;
}
span{
    position: relative;
    top: 15px;
    margin-left: 70px;
    font-size: 13px;
}
.private-policy{
    text-decoration: none;
    color: rgb(44, 193, 219);
}
.private-policy:hover{
    text-decoration: underline;
}

.floating-box{
    overflow-x: hidden;
    width: 710px;
    height: 500px;
    position: absolute;
    left:640px;
    top: 160px;
    background-image: url('image.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow:-18px 3px 28px -9px rgb(199, 196, 196); 
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    
}
.app-data{
    display: flex;
}
.zoom-app{
    position: relative;
    top: 100px;
    border: 1px dashed rebeccapurple;
    width: 400px;
    height: 400px;
    border-radius: 50%;
}