*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.header{
    display: flex;
    align-items: center;
    border: 1px solid red;
}
.logo-section{
    /* position: relative; */
    border: 1px solid rgb(149, 149, 240);
    padding: 2px 60px;
}
.search-box{
    border: 1px solid grey;
    padding: 10px;
    font-size: large;
    margin-left: 130px;
    width: 600px;
  
}


.menu-part{
    position: sticky;
    background-color: transparent;
   /* display: inline-block; */
   font-size: 15px;
   
   font-family: 'Courier New', Courier, monospace;
   border: 1px solid red;
   text-transform: capitalize;
   width: 215px;
   overflow-y: scroll;
}
li{
    list-style: none;
    padding-left: 30px;

}

a{
    text-decoration: none;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    color: black;
    padding: 12px;
    
}
li:hover{
    background-color: rgb(207, 204, 204);
    font-weight: bold;
    /* transform: translateX(100px) rotate(10deg); */
}

.line{
    width: 195px;
    height: 1px;
    background-color: rgb(201, 199, 199);
    margin: 5px 0 5px 0;
}
.buttons{
    display: grid;
    /* grid-row-gap: 5px; */
    /* grid-column-gap: 5px; */
    grid-gap: 5px ;
    grid-template-columns: auto auto auto;
    /* max-width: 200px; */
    /* border: 1px solid green; */

    
}

#btn{
    position: relative;
    left: 400px;
    bottom: 100px;
    cursor: pointer;
    padding:20px;
    background-color: red;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: large;
    transition: all .6s ease;
}
#btn:hover{
 box-shadow: 0 0 100px #cfc645,
             0 0 60px #ff0080,
             0 0 10px #ff0080;
             background-color: #ff0080;
             transition: width .3s  cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

